
html{
    scroll-behavior: smooth;
}

body{
    font-family:Rubik-Regular, Rubik;
    background-color:rgb(236 , 241 , 254);
    margin:0;

}


/* ---------- container 'Page Content' --------- */

.container{
    display:flex;
    flex-direction: column;
    
}


/* -----------  failure messages ------------- */

.log-fail-msg , .sign-fail-msg{
    text-align: center;
    align-items: center;
    background-color:#FD5555;
    color:white;
    font-family: Rubik-SemiBold;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    
}
















/* ------------ Sidebar ----------- */
.sidebar {
    display:flex;
    justify-content: center;
    padding-top:60px;
    padding-bottom:250px;
    width: calc(200px + 18.7vw) ;
    height: calc(400px + 22vw) ; 
    background-color: rgb(62,128,255);
    position:fixed;
    overflow: auto;
    transition: 0.5s;
    
}
/* ----------- logo ----------- */

.sidebar #logo{
    display:flex;
    align-items:center;
    justify-content: center; 
    
}

/* logo svg img */
#logo img{
margin-right: 0.69vw;
width: 80px;
height:80px;
}

/* logo text - WORKSPACER */
#logo h1{
    color: rgb(243,246,255);
    font-family:Rubik-Regular, Rubik;
    
}

.sidebar p{
    transform:translate(0 37);
    color:#f3f6ff ;
    font-size:30px ;
    font-family:Rubik-Light, Rubik;
    font-weight:300;
    /* width:421px;
    height:94px; */
    margin-left: calc(20px + 1vw);
}
#picture{
    margin-top: 50px;
    width: 100%;
}


/* -------------------------------- */

















/* --------------- Language switch ----------------- */
.lan{
    align-items:flex-end;
}
#lan-switch{ 
    /* margin:-45px 0 0 10px;   */
    /* display:block; */
    width:100px;
    height: 30px;
    border-radius: 7px;
    color:#0052cc;
    border-color: rgb(243, 246, 255);
    padding:0 10px 0 5px;
    /* Remove default arrow */
    appearance: none;       
    /* Add custom arrow */
    background: url(../svg/select_arrows.svg) no-repeat right #F3F6FF; 
    background-origin: content-box;
  }
      
/* ------------------------------------------------- */






















/* -------------- Main form ----------------- */
.main{
   
    max-width: calc( 200px + 30vw);
    height: 430px;
    margin-top: 150px ;
    display:flex;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:rgb(243, 246, 255);
    border-radius: 1.5em;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.15);
    color:rgb(44, 44, 44);
    transition:  0.3s;
    transition-delay: 0.1s; 
    
    
}

/* --- main form mouse over ----- */
.main:hover{
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.54);
    transition-duration:0.3s;
    transition-delay: 0.1s;

}

/* -------------------------------------- */













/* --------- Media query grid system -------------- */


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.main {             /*   dont move this block of code    */
    margin-left: 43vw;
    align-items: center;
    padding: 1px 16px;
    /* height: 900px; */
   
  }

@media screen and (min-width: 1200px) {
    
    div.main {
        margin-left: 43vw;
        transition:  0.3s;
        transition-delay: 0.1s;
    }
}
@media screen and (min-width: 770px) and (max-width: 1200px) {
    
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
    div.main {
        margin: 150px 24vw; 
        transition:  0.3s;
        transition-delay: 0.1s;
        margin-bottom:150px;

    }
    
}
@media screen and (min-width: 540px) and (max-width:769px ) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        
      }
    div.main {
        margin: 150px 24vw; 
        transition:  0.3s;
        transition-delay: 0.1s;
        margin-bottom:150px;

    }
   
    .container{
        justify-content: center;
    }
    /* div.main-form .form input{
        width: 100px;
    } */
}
@media screen and (min-width: 415px) and (max-width: 539px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      div.main {
        margin: 150px 12vw; 
        transition:  0.3s;
        transition-delay: 0.1s;
        margin-bottom:150px;
    }
}
@media screen and (max-width: 414px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
    div.main {
        margin:150px 6vw; 
        transition:  0.3s;
        transition-delay: 0.1s;
        margin-bottom:150px;

    }
   
    .container{
        justify-content: center;
    }
    /* div.main-form .form input{
        width: 100px;
    } */
   
}
/* ------------------------------- */




















/* ---------- login & Sign up Switch buttons  ------------- */
.switch{
    margin-top: 15px;
    display:flex;
    align-items:center;
    justify-content:flex-start; 
    min-width: 28vw;
    height: 65px;
    border: none;
    border-radius:10px;

}

.switch button{
    border: none;
    background:none;
    color:#5082cc;
    cursor: pointer;
    font-size:20px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55); ;
    font-family:Rubik-Medium,Rubik;
   
    


}
/* login & sing up buttons mouse over */
.switch button:hover{
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55); ;
    color:#0052cc;
}
.switch .active{
    font-size:25px;
    color:#0052cc;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55); 
    /* background-color:#5082cc; */
    border-bottom: 3px solid #0052cc;
    /* border: ; */
    /* border-radius: 10px; */
    
    
}
/* -------------------------------- */


















/* ------------------ login ---------------- */

/* ------- Form -------- */
.form{
    margin-top: 20px ;
    text-align: center;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
   
}

/* --------- Form input -------- */
.form input{
    border-radius: 7px;
    border:1px solid rgb(243, 246, 255) ;
    width:26vmax ;
    height: 40px;
    margin-bottom:2px;
    padding-left:5px
}
/* ------- Forget link */
#myForget{
    float: right; 
    font-size: small;
    color: #5082cc;
    text-decoration: none;
}
#myForget:hover{
    text-decoration:underline;

}


/* ----------- show password checkbox -------- */


.show-password{
    
    display:flex;
    align-items:center;
    flex-direction: row;
   
    
}
.show-password input , .new-box{
    width:15px;
    border-radius: 7px;
}
.show-password label{
    font-family:Rubik-Regular, Rubik;
    font-size:small;
}




/* ----------- Login Button -------------- */
#btn{
    width: calc(30px + 24vw);
    height: 50px;
    border-radius: 7px;
    border:1px solid rgb(0, 82, 204) ;
    background-color: rgb(0, 82, 204);
    font-size:20px;
    font-family:Rubik-Bold, Rubik;
    /* font-weight: bold; */
    color:white;
    cursor:pointer;
    transition: 0.5s;
}
#btn:hover{
    background-color: rgba(0, 82, 204, 0.849);
    transition: 0.5s;
}

/* ----------------------------------------- */




















/* ------------ signup form ----------------- */

.new-form{
    display:none;
    text-align: center;
    /* opacity: 0; */
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    transition: all 0.6s
}
/* -------- Form input -email- ----------- */
.new-form input{
    border-radius: 7px;
    border:1px solid rgb(243, 246, 255) ;
    width: 26.5vmax;
    height: 40px;
    margin-bottom:10px;
    padding-left:5px
   
    
}

/* ----- Full name field ----- */

#full-name{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    flex-wrap:wrap;
}
#full-name input{
    width:13vmax ; 
    padding-left:5px
    
}

/* ---------- password ---------- */
#pass-div{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    
}
#pass-div input{
    width:13vmax ; 
    padding-left:5px

}

/* ---------- Sign Up button ------------ */
#new-btn{
    width: calc(30px + 24vw) ;
    height: 50px;
    border-radius: 7px;
    border:1px solid rgb(0, 82, 204) ;
    background-color: rgb(0, 82, 204);
    font-size:20px;
    font-family:Rubik-Bold, Rubik;
    /* font-weight: bold; */
    color:white;
    cursor:pointer;
    transition: 0.5s;
    margin-top:2vw;
}
#new-btn:hover{
    background-color: rgba(0, 82, 204, 0.849);
    transition: 0.5s;
}

/* ----------- terms CHECKBOX ------------ */
.checkboxes{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:5px;

}
.checkbox-div{
    display:flex;
    flex-direction: row;
    justify-content:stretch;
  
}

.checkbox-div input{
    width:15px;
    height: 15px;
    cursor:pointer;
}
#form-checkbox{
    min-width:15px;
    min-height: 15px;
}

.checkbox-div label{
    font-family:Rubik-Light, Rubik;
    font-size:15px;
    text-align:justify;
}
.checkbox-div label a{
    text-decoration: none;
    color: #0052cc;
}
.checkbox-div label a:hover{
    text-decoration:underline;
}

/* ---------------------------------------- */

















