
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 210px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    /* box-shadow: 0 0 5px 2px; */
  }
  /* Sidebar heading h4 */
.sidebar h4{
    text-align: center;
    font-weight:lighter;
    
}
 /* Sidebar select   */
 .sidebar select{
  margin-left: 40px;  
  display:block;
      width: 60%;
      height: 50px;     
  border-radius: 10px;
  border-color: rgb(243, 246, 255);
  background-color:rgb(243, 246, 255);
  
}
 /* Sidebar option   */
.sidebar select option{
  text-align: center;
  
}
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(172, 181, 211);
    padding: 16px;
    text-decoration: none;
    transition:  0.3s;
    transition-delay: 0.1s;
    text-align: center;
    font-size:medium;
    font-weight:lighter;
  }
  
  
  /* Links on mouse-over */
 .sidebar a:hover {
    color:rgb(13, 86, 201);
    transition-duration:0.3s;
    transition-delay: 0.1s;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 210px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
     /* Sidebar links in 700px */
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;
        transition:  0.3s;
        transition-delay: 0.1s;
    }
     
    
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
     /* Sidebar links in 400 */
    .sidebar a {
      text-align: center;
      float: none;
      transition:  0.3s;
      transition-delay: 0.1s;

    }
  
  }







/* the Grid system */


  html { font-size: 22px; }
  body { 
      /* padding: 1rem;  */
    margin:0;
    background-color:rgb(243, 246, 255);
    font-family:sans-serif

}

/* paragraph under the main heading */
  .content p{
    color:rgb(171, 181, 211);
    font-size:smaller;
    font-weight:normal;
    margin-bottom: 5%;
  }


  /* Card */
  .card {
    background-color: white;
    color: black;
    padding: 1rem;
    height: 10rem;

    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
  }



  /* Card container */
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1.5rem;
    
  
  }


  /* Card mouse-over */
  .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
  }
    


  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); 
       
    
    }
    /* margin h3 from top in 2 columns screen */
    .content h3{
      margin-top: 80px;
    }
    
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); 
        margin-right: 60px;
    
    }
    .content .cards,h3,p{
    margin-left: 60px; 

    }
    /* margin h3 from top in 3 columns screen */
    
    .content h3{
      margin-top: 80px;
    }
    
  }









